In [1]:
import glob

import pandas as pd
import numpy as np
import csv

#Now reading partial names as list and loading them as one one. 

partial_names = ["Cybex General Open Orders (Routing Tool)", 
                 "Shipping Totals by Order Line",
                 "From Dock to Stock Report", 
                 "Inventory Cycle Counts",
                 "Cybex Quality",
                 "Cybex Transaction Report"]
files = []
#collect it to the list... 

for name in partial_names:
    files.extend(glob.glob(r"C:\Users\liuchen\Downloads\*{}*".format(name)))
    
#all good part, don't do anything!!

In [2]:
import datetime
from datetime import timedelta
from datetime import date

In [3]:
#read all the files as dataframe!! 

for file in files:
    if "Cybex General Open Orders (Routing Tool)" in file: 
        tool = pd.read_excel(file)
    elif "Shipping Totals by Order Line" in file:
        ship = pd.read_excel(file)
    elif "From Dock to Stock Report" in file:
        stock = pd.read_excel(file)
    elif "Inventory Cycle Counts" in file:
        inventory = pd.read_excel(file)
    elif "Cybex Quality" in file:
        quality = pd.read_excel(file)
    elif "Cybex Transaction Report" in file:
        transaction = pd.read_excel(file)
        
## all good part, don't do anything!! can be read as usual dataframe.
## Do NOT open the file when the python running!

C:\Users\liuchen\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\liuchen\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\liuchen\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\liuchen\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\liuchen\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

### (╭☞•̀o•́)╭☞     This is Line 6:

In [4]:
open_total = int(tool['Ordered QTY'].sum())

print(f"\n     the open in total units is: {open_total}")

     the open in total units is: 2680

### Line 7: (╭☞•̀o•́)╭☞  Order intake right here!!

from datetime import datetime, timedelta

start_date = datetime.now() - timedelta(days=4)
end_date = datetime.now() - timedelta(days=1)

for i in range((end_date - start_date).days + 1):
    current_date = start_date + timedelta(days=i)

In [5]:
from datetime import datetime, timedelta

start_date = datetime.now() - timedelta(days=4)
middle_date = datetime.now() - timedelta(days=3)
end_date = datetime.now() - timedelta(days=1)
target_time = datetime.strptime('14:00:00', '%H:%M:%S').time()

In [6]:
datetime.now() - timedelta(days=4)

datetime.datetime(2023, 4, 2, 14, 56, 56, 861796)

In [7]:
middle_date

datetime.datetime(2023, 4, 3, 14, 56, 56, 848543)

In [8]:
datetime.now() - timedelta(days=1)

datetime.datetime(2023, 4, 5, 14, 56, 56, 894281)

In [9]:
end_date.date() - timedelta(days=1)

datetime.date(2023, 4, 4)

In [10]:
end_date.date()

datetime.date(2023, 4, 5)

In [11]:
#如果是星期二，有且需要一个条件，如果今天是星期二，就，如果不是，则： 

if datetime.now().weekday() == 1:
    # 如果今天是周二，就应该是4天
    tool_order_intake = tool[(tool['Ordered Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (tool['Ordered Date'] < str(end_date.date() + timedelta(days=1)) + ' ' + str(target_time))]
    
elif datetime.now().weekday() == 0:
    # 如果今天是周一，就应该是星期五，星期六
    tool_order_intake = tool[(tool['Ordered Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (tool['Ordered Date'] < str(middle_date.date()) + ' ' + str(target_time))]
    
else:
    # 如果今天不是周二，就应该是2天
    tool_order_intake = tool[(tool['Ordered Date'] >= str(end_date.date() - timedelta(days=1)) + ' ' + str(target_time)) 
                             & (tool['Ordered Date'] < str(end_date.date()) + ' ' + str(target_time))]

tool_total_orderintake_qty = tool_order_intake['Ordered QTY'].sum()
print(tool_total_orderintake_qty)

#这段算是成功了，非常简单的loop，就是看今天，今天是不是星期二，然后进行归类

87.0

In [12]:

start_date = datetime.now() - timedelta(days=4)
end_date = datetime.now() - timedelta(days=1)
target_time = datetime.strptime('14:00:00', '%H:%M:%S').time()

if datetime.now().weekday() == 1:
    
    ship_order_intake = ship[(ship['WMS Add Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (ship['WMS Add Date'] < str(end_date.date() + timedelta(days=1)) + ' ' + str(target_time))]
    
elif datetime.now().weekday() == 0:
    # 如果今天是周一，就应该是星期五，星期六
    ship_order_intake = ship[(ship['WMS Add Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (ship['WMS Add Date'] < str(middle_date.date()) + ' ' + str(target_time))]

    
else:
    #
    ship_order_intake = ship[(ship['WMS Add Date'] >= str(end_date.date() - timedelta(days=1)) + ' ' + str(target_time)) 
                             & (ship['WMS Add Date'] < str(end_date.date()) + ' ' + str(target_time))]

ship_total_orderintake_qty = ship_order_intake['Shipped Qty'].sum()
print(ship_total_orderintake_qty)

#这段算是成功了

137.0

In [13]:
#2者相加，得出结果

print(f"\n   the open in total units is: {int(tool_total_orderintake_qty + ship_total_orderintake_qty)}")

   the open in total units is: 224

### (╭☞•̀o•́)╭☞  Check if there is any order late from B2B_dropship | B2C_Par Delay

In [14]:
import datetime

today = datetime.date.today()

#The  method returns the minimum time value of a datetime object, which is midnight (00:00:00)
today_datetime = datetime.datetime.combine(today, datetime.datetime.min.time())

#pick the condiditons for over due wmsn orders. 
overduewms = tool[(tool['Order Type'].isin(['B2B-PU', 'B2B-MIX', 'B2B-PD', 'B2B-PAR'])) 
                  & (tool['Cancel By Date'] < today_datetime)]

In [15]:
sorted(overduewms['Cancel By Date'].unique())

[numpy.datetime64('2023-03-30T00:00:00.000000000'),
 numpy.datetime64('2023-03-31T00:00:00.000000000'),
 numpy.datetime64('2023-04-03T00:00:00.000000000')]

In [16]:
# (╭☞•̀o•́)╭☞  Export the B2B possbile overdue orders 

overduewms.to_excel(r'C:/Users/liuchen/Desktop/B2B_overduewms_results.xlsx')

### Zip() is a built-in Python function that is used to combine multiple iterables (e.g., lists, tuples, etc.) into a single iterable of tuples.

In [17]:
# B2B_dropship delay: 🍨ԅ( ͒ ۝ ͒ )

from datetime import datetime

b2b_dropship = tool[(tool['Order Type'].isin(['B2B-DROPSHIP']))]

results = []
for order_number, ordered_date in zip(b2b_dropship['Order Number'], b2b_dropship['Ordered Date']):
    if ordered_date + timedelta(days=1) > date.today():
        results.append((order_number, "*The delay*"))
    else:
        results.append((order_number, "*No delay*"))

## results = list,including two columns combined.

output = pd.DataFrame(results, columns=["Order Number", "Delay Status"])
print(output)

    Order Number Delay Status
0       81763098   *No delay*
1       81763100   *No delay*
2       81763101   *No delay*
3       81764085  *The delay*
4       81764086  *The delay*
5       81764112  *The delay*
6       81764108  *The delay*
7       81764117  *The delay*
8       81764115  *The delay*
9       81764105  *The delay*
10      81764106  *The delay*
11      81764107  *The delay*
12      81764109  *The delay*
13      81764120  *The delay*
14      81764114  *The delay*
15      81764118  *The delay*
16      81764113  *The delay*
17      81764116  *The delay*
18      81764119  *The delay*

C:\Users\liuchen\AppData\Local\Temp\ipykernel_20784\1297970092.py:9: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if ordered_date + timedelta(days=1) > date.today():

In [18]:
# B2C_par delay: 🍫ԅ( ͒ ۝ ͒ )

b2c_par = tool[(tool['Order Type'].isin(['B2C-PAR']))]

results = []
for order_number, ordered_date in zip(b2c_par['Order Number'], b2c_par['Ordered Date']):
    if ordered_date > datetime.now().replace(hour=14, minute=0, second=0, microsecond=0):
        results.append((order_number, "*The delay*"))
    else:
        results.append((order_number, "*No delay*"))

output = pd.DataFrame(results, columns=["Order Number", "Delay Status"])
print(output)

print("\nwhat is the dealy status",output['Delay Status'].unique())

    Order Number Delay Status
0       81763096   *No delay*
1       81763099   *No delay*
2       81763114   *No delay*
3       81763383   *No delay*
4       81763384   *No delay*
5       81763385   *No delay*
6       81763387   *No delay*
7       81763386   *No delay*
8       81763389   *No delay*
9       81763388   *No delay*
10      81763391   *No delay*
11      81763390   *No delay*
12      81763392   *No delay*
13      81763393   *No delay*
14      81763394   *No delay*
15      81763422   *No delay*
16      81763451   *No delay*
17      81763454   *No delay*
18      81763565   *No delay*
19      81763669   *No delay*
20      81764055   *No delay*
21      81764104   *No delay*

what is the dealy status ['*No delay*']

### (╭☞•̀o•́)╭☞      This is Line 11:

In [19]:
# get the ordered Qty sum

overduewms_num = int(overduewms['Ordered QTY'].sum())
print(f"\n    the open in total units is: {overduewms_num} \n")

    the open in total units is: 254

###  (╭☞•̀o•́)╭☞   This is WMS Stauts:

In [20]:
# 把所有的nan改成blank，不然sum不会算这个nan的数字

for i in range(len(tool['Shipment Status'])):
    if pd.isnull(tool['Shipment Status'][i]):
        tool['Shipment Status'][i] = 'Blank'
# 这段已经是成功了

wms_status = tool.groupby(tool['Shipment Status'])['Ordered QTY'].sum().reset_index()
wms_status
# 这段已经也是成功了

C:\Users\liuchen\AppData\Local\Temp\ipykernel_20784\1638041360.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tool['Shipment Status'][i] = 'Blank'

  Shipment Status  Ordered QTY
0           Blank       1009.0
1      In-Process       1107.0
2           Ready        291.0
3          Staged        273.0

### (╭☞•̀o•́)╭☞ this is line 23

In [21]:
transaction.columns

Index(['Transaction Date', 'Operation Code', 'Activity Code', 'LPN',
       'To Load Number', 'Item Number', 'Quantity', 'From Location',
       'To Location', 'Username'],
      dtype='object')

### this part is important, sometimes you don't need to convert time to 'UTC'. In this case, you will need. Tried only LND -> CHI time. It doesn't work.

In [22]:
transaction['Transaction Date'] = transaction['Transaction Date'].dt.tz_localize('UTC')

transaction['Transaction Date'] = transaction['Transaction Date'].dt.tz_convert('Europe/London')

transaction['Transaction Date'] = transaction['Transaction Date'].dt.tz_convert('America/Chicago')

if datetime.now().weekday() == 0:
    i = middle_date.date()
    
elif datetime.now().weekday() != 0:
    i = end_date.date()

In [23]:
#set the loop becasue on Monday will be need to be last Friday. 
if datetime.now().weekday() == 0:
    i = middle_date.date()
    
elif datetime.now().weekday() != 0:
    i = end_date.date()


line23 = transaction[(transaction['Transaction Date'].dt.date == i) & 
                                    (transaction['From Location'].str.startswith('W')) & 
                                    (transaction['Activity Code'].isin(['CASPCK', 'KITPCK', 'LSTPCK', 'PALPCK', 'PCEPCK']))]

In [24]:
line23_qty = int(line23['Quantity'].sum())

print(f"\n    the open in total units is: {line23_qty } \n")

    the open in total units is: 1213

### (╭☞•̀o•́)╭☞ this is line 26

In [25]:
ship['Order Type'].unique()

array(['B2B-RETAIL', 'B2B-INTERNATIONAL RETAIL', 'B2B-ORDER',
       'B2B-INTERNATIONAL', 'B2B-DROPSHIP', 'eCOM', 'Not Defined'],
      dtype=object)

In [26]:
#这个必须要，就是把所有的date time 编导一个能公立的方式
ship['Loaded Date'] = pd.to_datetime(ship['Loaded Date'], format='%Y/%m/%d')

#'!=' 不是总能成功的，有时候Isin更有优势来提取必要条件
# 这个也是需要loop，如果是星期一，则需要星期5的data
line26 = ship[(ship['Order Type'].isin(['B2B-RETAIL', 'B2B-INTERNATIONAL RETAIL', 'B2B-INTERNATIONAL','B2B-ORDER', 'eCOM', 'B2B-DROPSHIP']))]

In [27]:
if datetime.now().weekday() ==0:
    line26 = line26[(ship['Loaded Date'].dt.date == middle_date.date())]
    
elif datetime.now().weekday() !=0:
    line26 = line26[(ship['Loaded Date'].dt.date == end_date.date())]

C:\Users\liuchen\AppData\Local\Temp\ipykernel_20784\27737810.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  line26 = line26[(ship['Loaded Date'].dt.date == end_date.date())]

In [28]:
print(f"\n   Line 26 Shipped Actual is: {int(line26['Shipped Qty'].sum())} \n")

   Line 26 Shipped Actual is: 204

### (╭☞•̀o•́)╭☞ This one is for Canada!!

In [29]:
canada_tool = tool[(tool['Order Type'].isin(['B2B-EXDROP', 'B2B-EXPA', 'B2B-EXP', 'B2B-EXPL','B2B-EXM']))]

print("\n the Canada Open in total:", int(canada_tool['Ordered QTY'].sum()))

 the Canada Open in total: 531

### (╭☞•̀o•́)╭☞ Canada line 7 Oder Intake

In [30]:
start_date = datetime.now() - timedelta(days=4)
end_date = datetime.now() - timedelta(days=1)
target_time = datetime.strptime('14:00:00', '%H:%M:%S').time()

if datetime.now().weekday() == 1:
   
    ca_order_intake = canada_tool[(canada_tool['Ordered Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (canada_tool['Ordered Date'] < str(end_date.date() + timedelta(days=1)) + ' ' + str(target_time))]

    
elif datetime.now().weekday() == 0:
    # 如果今天是周一，就应该是星期五，星期六
    ca_order_intake = canada_tool[(canada_tool['Ordered Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (canada_tool['Ordered Date'] < str(middle_date.date()) + ' ' + str(target_time))]

else:
    
    ca_order_intake = canada_tool[(canada_tool['Ordered Date'] >= str(end_date.date() - timedelta(days=1)) + ' ' + str(target_time)) 
                             & (canada_tool['Ordered Date'] < str(end_date.date()) + ' ' + str(target_time))]

ca_tool_orderintake_qty = ca_order_intake['Ordered QTY'].sum()
print(ca_tool_orderintake_qty)

71.0

In [31]:
ship['Order Type'].unique()

array(['B2B-RETAIL', 'B2B-INTERNATIONAL RETAIL', 'B2B-ORDER',
       'B2B-INTERNATIONAL', 'B2B-DROPSHIP', 'eCOM', 'Not Defined'],
      dtype=object)

In [32]:
canada_ship = ship[(ship['Order Type'].isin(['B2B-INTERNATIONAL RETAIL','B2B-INTERNATIONAL']))]

In [33]:
if datetime.now().weekday() == 1:
    
    ca_ship_intake = canada_ship[(canada_ship['WMS Add Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (canada_ship['WMS Add Date'] < str(end_date.date() + timedelta(days=1)) + ' ' + str(target_time))]
    

elif datetime.now().weekday() == 0:
    # 如果今天是周一，就应该是星期五，星期六
    ca_ship_intake = canada_ship[(canada_ship['WMS Add Date'] >= str(start_date.date()) + ' ' + str(target_time)) 
                             & (canada_ship['WMS Add Date'] < str(middle_date.date()) + ' ' + str(target_time))]  
    
else:
    
    ca_ship_intake = canada_ship[(canada_ship['WMS Add Date'] >= str(end_date.date() - timedelta(days=1)) + ' ' + str(target_time)) 
                             & (canada_ship['WMS Add Date'] < str(end_date.date()) + ' ' + str(target_time))]

ca_ship_intak_qty= ca_ship_intake['Shipped Qty'].sum()
print(ca_ship_intak_qty)

0.0

In [34]:
print(f"\n   the open in total units is: {int(ca_tool_orderintake_qty + ca_ship_intak_qty)}\n")

   the open in total units is: 71

### (╭☞•̀o•́)╭☞ Canada line 8: Overdue is:  0

### (╭☞•̀o•́)╭☞ Canada WMS status:

In [35]:
canada_tool['Shipment Status'] = canada_tool['Shipment Status'].fillna('Blank')

# 这段在上方已经成功了。但是这里不能成功，不知道是不是因为canada不是df的原因
#for i in range(len(canada['Shipment Status'])):
    #if canada.isnull(canada['Shipment Status'][i]):
        #canada['Shipment Status'][i] = 'Blank'
        
canada_tool_wms_status = canada_tool.groupby(canada_tool['Shipment Status'])['Ordered QTY'].sum().reset_index()
canada_tool_wms_status
# 这段已经也是成功了

C:\Users\liuchen\AppData\Local\Temp\ipykernel_20784\1763211965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  canada_tool['Shipment Status'] = canada_tool['Shipment Status'].fillna('Blank')

  Shipment Status  Ordered QTY
0           Blank         98.0
1      In-Process         99.0
2           Ready        291.0
3          Staged         43.0

### (╭☞•̀o•́)╭☞ This one is for : Inbound_STO Tab!

In [36]:
quality.columns

Index(['Item', 'Catalog', 'Description', 'Receipt_Date', 'Serial_Number',
       'Quantity', 'Inventory Status', 'SAP Location', 'LPN', 'Location'],
      dtype='object')

In [37]:
location = quality['Location'].value_counts()

In [38]:
location = pd.DataFrame(location).reset_index()
location.columns = ['location', 'count']
location

          location  count
0           PC-LTL    750
1              O-4    143
2              O-2     94
3      9-100-00-01     90
4              O-1     76
...            ...    ...
9922  14-008-10-01      1
9923   3-035-50-01      1
9924   1-042-20-02      1
9925   4-010-10-01      1
9926   5-037-10-01      1

[9927 rows x 2 columns]

In [39]:
import re

#this is very import to filted out all the values that starts from the alphabet
num_count = [d for d in location['location'] if not re.match(r'^[A-Za-z]', d)]

#The re module in Python is a built-in module that provides support for regular expressions (regex).
#re.search(): Searches a string for a regex pattern and returns the first match.
#re.match(): Searches a string for a regex pattern at the beginning of the string and returns the first match.
#re.findall(): Searches a string for all occurrences of a regex pattern and returns a list of matches.
#re.sub(): Replaces all occurrences of a regex pattern in a string with a replacement string.
#re.compile(): Compiles a regex pattern into a regular expression object that can be reused.

In [40]:
unique_count = 11727 - len(set(num_count))

print(f"\n the inbound_STO line 24 = {unique_count}")

 the inbound_STO line 24 = 1855

In [41]:
line25 = location[location['count'] == 1]

In [42]:
line25['location'].nunique()

1639

In [46]:
line25_2_count = [d for d in line25['location'] if not re.match(r'^[A-Za-z]', d)]

In [47]:
line25_num = len(set(line25_2_count))

print(f"\n the inbound_STO line 24 = {line25_num}\n")

 the inbound_STO line 24 = 1636

line25_2_count

## (╭☞•̀o•́)╭☞ Let's put them fucking together!! Nice work!! BOY!

In [48]:
print(f"\n     Line 6: the open in total units is: {open_total}")

print(f"\n     Line 7: the open in total units is: {int(tool_total_orderintake_qty + ship_total_orderintake_qty)}")

print(output)    

print("\n    What is the dealy status",output['Delay Status'].unique())

print(f"\n    Line 11: the open in total units is: {overduewms_num} \n")

     Line 6: the open in total units is: 2680

     Line 7: the open in total units is: 224
    Order Number Delay Status
0       81763096   *No delay*
1       81763099   *No delay*
2       81763114   *No delay*
3       81763383   *No delay*
4       81763384   *No delay*
5       81763385   *No delay*
6       81763387   *No delay*
7       81763386   *No delay*
8       81763389   *No delay*
9       81763388   *No delay*
10      81763391   *No delay*
11      81763390   *No delay*
12      81763392   *No delay*
13      81763393   *No delay*
14      81763394   *No delay*
15      81763422   *No delay*
16      81763451   *No delay*
17      81763454   *No delay*
18      81763565   *No delay*
19      81763669   *No delay*
20      81764055   *No delay*
21      81764104   *No delay*

    What is the dealy status ['*No delay*']

    Line 11: the open in total units is: 254

In [49]:
wms_status

  Shipment Status  Ordered QTY
0           Blank       1009.0
1      In-Process       1107.0
2           Ready        291.0
3          Staged        273.0

In [50]:
print(f"\n    Line 23: the open in total units is: {line23_qty } \n")

print(f"\n    Line 26 Shipped Actual is: {int(line26['Shipped Qty'].sum())} \n")

    Line 23: the open in total units is: 1213


    Line 26 Shipped Actual is: 204

### Canada Tab

In [51]:
print(f"\n   The open in total units is: {int(ca_tool_orderintake_qty + ca_ship_intak_qty)}\n")

print("\n   (╭☞•̀o•́)╭☞ Canada line 8: Overdue is:  0\n")

   The open in total units is: 71


   (╭☞•̀o•́)╭☞ Canada line 8: Overdue is:  0

In [52]:
canada_tool_wms_status

  Shipment Status  Ordered QTY
0           Blank         98.0
1      In-Process         99.0
2           Ready        291.0
3          Staged         43.0

## Inbound_STO Tab

In [53]:
print(f"\n the inbound_STO line 24 = {unique_count}\n")

print(f"\n the inbound_STO line 24 = {line25_num}\n")

 the inbound_STO line 24 = 1855


 the inbound_STO line 24 = 1636